body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(244, 242, 238);
}

header {
    margin-top: 15vh;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

header.index, header.auth {
    margin-top: 30vh;
}

main.index, main.auth {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

button#enterButton, button#submitLogin {
    font-size: x-large;
}

input.authInput {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

form.login > label > input  {
    margin-bottom: 2.5vh;
}

form.login > label > select {
    margin-bottom: 2.5vh;
    font-size: x-large;
}

a#logo {
    font-family: cursive;
    font-size: 300%;
    position: absolute;
    left: 1vw;
    top: 0px;
    text-decoration: none;
    color: darkslateblue;
}

button#switch-auth-mode {
    position: absolute;
    right: 1vh;
    top: 1vh;
    font-size: x-large;
}

.hidden {
    visibility: hidden;
    height: 0 !important;
    width: 0 !important;
    position: absolute;
}

li.home-option {
    font-size: large;
    margin-bottom: 1vh;
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

li.user-element {
    margin-bottom: 2vh;
}

button.select-user {
    font-size: large;
    padding: 5px;
}

ul#user-list {
    margin-top: 5vh;
    max-height: 50vh;
    overflow-y: scroll;
}

label.user-attr, label.user-attr > input, label.user-attr > select, label.search-med-param > input {
    margin-bottom: 3vh;
    font-size: large;
}

input#submit-update-user, input#submit-med-search {
    margin-bottom: 20px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

a#back-button {
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    font-size: x-large;
}

ul#medication-list {
    text-align: left;
    max-height: 30vh;
    overflow-y: scroll;
}

ul#medication-list > li {
    margin-bottom: 10px;
}

ul#medication-list > li > button {
    font-size: large;
}

p#error-message {
    font-size: large;
    color: red;
}

li.prescription {
    border-top-style: solid;
    border-bottom: solid;
}

h3.prescription-header {
    margin-top: 5vh;

}